* {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #498CEC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
